<meta charset="utf-8">

**KLJH-Allianz**

# Wer sind wir

KLJH ist eine *deutschsprachige* Allianz im Spiel [Star Trek Fleet Command](https://www.startrekfleetcommand.com) bestehend aus Spielern von ganz Deutschland.

Wir spielen STFC zum Spaß. Bei uns kannst du, musst aber nichts mitmachen.

Du willst mit spielen anfangen?
Dann komm zu uns!

# EU-Server 156 - live long
<p align="center">
[<embed src="https://stfc.2c.fyi/#!/servers/156" style="width: 400px; height: 400px;">](https://stfc.2c.fyi/#!/servers/156)

Bereitgestellt durch [stfc.2c.fyi](https://stfc.2c.fyi)
</p>

# Führung 

![](images/crown.png) 
**K L J H** himself
<br />
![](images/assistant_person.png)

Kommodore:
* IKNIP
* Bra22a
* GuruMeditation
* Furyaner

# Unsere Regeln

Wir spielen nach CSMA (Common Sense Mining Agreement) des Servers 156. 

Nachzulesen in 10F (Ten Forward) [<img src="images/discord.png" />](https://discord.gg/8A4pfeCwug)
<br />
Das heißt bei uns:
* Kein EMK (Empty Miner Kill) - Auch nicht aus Rache
* Kein OPC-farmen im Token-Raum
* Kein PvP im Token-Raum
* Freundliches miteinander
* Fair-Play

# Kontakt
[<img src="images/discord.png" />](https://discord.gg/YAegHdUFYt) oder einfach im Spiel den [Admiral oder einen der Kommodore](index.html#f%C3%BChrung) anschreiben.

# Hilfreiche Links

[STFC.space](https://stfc.space/): Gebäude, Schiffe, Systeme, Forschung, ...

[Data](https://www.stfcdata.de): Schiffs-, Gebäude- und Forschnungsrechner, Crew-Setups und mehr

[Carnacks Guide to Star Trek Fleed Command](https://carnacsguide.com/)

[Events mit Timer](https://www.stfc.ovh/)


# Geplänkel
Dies ist eine Rein private Seite. Keine Gewinnabsicht. Nur zum Spaß. 

[Icons](https://icon-icons.com) bereitgestellt durch

* [Vincent Le Moign](https://icon-icons.com/users/5PD4hLKzPcodcgTEWk75F/icon-sets/)
* [Aha-Soft](https://icon-icons.com/users/3vPMOxqZiIMFAjWURSQ1B/icon-sets/)

beide unter [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)


<script>window.markdeepOptions = {tocStyle: 'short', autoLinkImages:false};</script> 
<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://morgan3d.github.io/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
